.search-form {
  margin-bottom: 20px;
  text-align: center;
}

.search {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.wrestler-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
