<div class="wrestler-info" *ngIf="wrestler">
  <h2>{{wrestler.fio}}</h2>
  <img *ngIf="wrestler.picture" [src]="wrestler.picture" alt="Photo of {{ wrestler.fio }}">
  <p><strong>Рост:</strong> {{ wrestler.height }} см</p>
  <p><strong>Вес:</strong> {{ wrestler.weight }} кг</p>
  <p><strong>Пол:</strong> {{ wrestler.gender === 'MALE' ? 'Мужской' : 'Женский' }}</p>
  <p><strong>Тренер:</strong> {{ wrestler.trainer }}</p>
  <p><strong>Дата начала карьеры:</strong> {{ wrestler.startOfCareer | date: 'dd.MM.yyyy' }}</p>
  <p><strong>Статус:</strong> {{ wrestler.retired ? 'На пенсии' : 'Активный рестлер' }}</p>
  <p><strong>ID промоушена:</strong> {{ wrestler.promotionID }}</p>
</div>
