@if (wrestler){
  <div class="wrestler-info">
    <h2>{{wrestler.fio}}</h2>
    <img [src]="'data:image/jpeg;base64,' + wrestler.picture" alt="Фотография {{ wrestler.fio }}" title="Фотография {{ wrestler.fio }}" width="300px">
    <p><strong>Рост:</strong> {{ wrestler.height }} см</p>
    <p><strong>Вес:</strong> {{ wrestler.weight }} кг</p>
    <p><strong>Пол:</strong> {{ wrestler.gender }}</p>
    <p><strong>Тренер:</strong> {{ wrestler.trainer }}</p>
    <p><strong>Дата начала карьеры:</strong> {{ wrestler.startOfCareer | date: 'dd.MM.yyyy' }}</p>
    <p><strong>Статус:</strong> {{ wrestler.retired ? 'На пенсии' : 'Выступает' }}</p>
    <p><strong>Количество матчей:</strong> {{ wrestler.countOfMatches }}</p>
    <img [src]="'data:image/jpeg;base64,' + promotion.picture" alt="{{promotion.name}}" title="{{promotion.name}}" style="cursor: pointer" (click)="ToPromotion()"><br>
<!--    <input type="file" (change)="onFileSelected($event)" accept="image/*"><br>-->
<!--    <button (click)="updateWrestler()">Обновить Рестлера</button>-->
    <section id="button-container">
      <div class="container" (click)="getMatches()">
        <div class="button v17">
          <span class="label">Матчи</span>
          <span class="icon">
                <span></span>
            </span>
          <span class="icon2">
            </span>
        </div>
      </div>
      <div class="container" (click)="getTitles()">
        <div class="button v17">
          <span class="label">Титулы</span>
          <span class="icon">
                <span></span>
            </span>
          <span class="icon2">
            </span>
        </div>
      </div>
    </section>
    @if(matchList){
      @for (match of matchList; track $index){
        <div class="matches-list">
          <app-match-card [match]="match"></app-match-card>
        </div>
      }
    }
    @if(titleList){
      @for (title of titleList; track $index){
        <div class="title-list">
          <app-title-card [title]="title"></app-title-card>
        </div>
      }
    }
  </div>
}
