<main class="main">
  <div class="route">
    <nav>
      <ul>
        <li><a routerLink="/wrestlers" routerLinkActive="active" ariaCurrentWhenActive="page">Рестлеры</a></li>
        <li><a routerLink="/promotions" routerLinkActive="active" ariaCurrentWhenActive="page">Промоушены</a></li>
        <li><a routerLink="/events" routerLinkActive="active" ariaCurrentWhenActive="page">События</a></li>
        <li><a routerLink="/matches" routerLinkActive="active" ariaCurrentWhenActive="page">Матчи</a></li>
        <li><a routerLink="/titles" routerLinkActive="active" ariaCurrentWhenActive="page">Титулы</a></li>
      </ul>
    </nav>
  </div>
  <div class="content">
  </div>
</main>
<router-outlet />
