@if(promotion){
  <div>
    <h2>{{ promotion.name }}</h2>
    <div class="promo-desc">
      <p>Генеральный директор компании: {{promotion.fioOfCeo}}</p>
      <img [src]="'data:image/jpeg;base64,' + promotion.picture" alt="{{promotion.name}}"><br>
    </div>
    <section id="button-container">
      <div class="container" (click)="getWrestlers()">
        <div class="button v17">
          <span class="label">Рестлеры</span>
          <span class="icon">
                <span></span>
            </span>
          <span class="icon2">
            </span>
        </div>
      </div>
    </section>
    @if (isWrestlersLoaded){
      <div class="wrestlers-list">
        @for (wrestler of wrestlersList; track $index){
          <app-wrestler-card [wrestler]="wrestler"></app-wrestler-card>
        }
      </div>
    }
  </div>
  <!--  <input type="file" (change)="onFileSelected($event)" accept="image/*"><br>-->
    <!--  <button (click)="updatePromotion()">Обновить промоушен</button>-->
}
