.search-form{
  display: flex;
  justify-content: center;
}

.promotion-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
app-promotion {
  box-sizing: border-box;
  transition-duration: 500ms;
}

app-promotion:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
